<footer class="h-full w-54 bg-[#02042E] text-white-50 p-4">
    <div class="flex mx-20 justify-evenly items-center">
        <img class="w-16 h-16" src="assets/logoFooterPanPedia.svg" alt="">
        <p class="text-center">
            © Projeto desenvolvido pelo Grupo 05 - Turma 09 <br> Versão 0.8
    
        </p>

        <a href="https://www.inteli.edu.br/">
            <img class="w-16 h-16" src="assets/inteliLogo.png" alt="">
        </a>
    </div>
</footer>

</html>