<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/assets/logoPanpediaReduzida.svg">
    <title>Login</title>
    <!-- Link para o arquivo de estilização-->
    <!--link href="index.css"  rel="stylesheet"-->
    <!-- Link para o funcionamento da biblioteca tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

      .font-montserrat {
          font-family: 'Montserrat', sans-serif;
      }
  </style>
</head>
<body class="max-md:bg-black">
  <div class="md:hidden flex ">
    <div class="flex flex-col items-center justify-center h-full py-44">
      <img src="/public/assets/logoFooterPanPedia.svg"" alt="Logo do Panpedia" class="w-36 h-36">
      <p class="text-center text-white text-2xl font-montserrat w-[90%]">Desculpe, este site não pode ser acessado em dispositivos móveis.</p>
    </div>
  </div>
  <div class="flex flex-row max-md:hidden">
      <!-- Div contendo um retângulo azul com a logo do site -->
      <div class="col-lg-6 min-h-screen bg-[#02042E] w-[50%] flex items-center justify-center">
        <img class="w-[35vw]" src="public/assets/logo.svg"  id="imgLogo">
      </div>
      <!-- Div contendo inputs de login e senha -->
      <div class="lg:col-span-6 min-h-screen w-[50%] flex items-center justify-center">
          <!--Form, o qual executa um endpoint de autenticação -->
          <!-- <form class="flex flex-col items-center" method="post" action="/fazer-login">
              <p class="text-center text-[48px] tracking-tighter text-[#02042E]">login</p><br>
              <input type="text" class="inputLogin mb-4 border border-gray-500 shadow-neomorphic rounded-md py-3 w-[35vw] pl-6 text-lg" placeholder="email">
              <input type="password" class="inputLogin mb-4 border border-gray-500 shadow-neomorphic rounded-md py-3 w-[35vw] pl-6 text-lg" placeholder="senha" >
              <!--Botão de envio da verificação de login-->
              <!-- <button type="submit" class="btn btn-primary items-center py-3 w-[35vw] border-[#02042E] bg-[#02042E] shadow-neomorphic rounded-md text-white text-lg mt-5" type="button" id="loginButton">Entrar</button> -->
          <!-- </form> -->
            <div class="">
              <button class="" onclick="logar(1)">
                Entrar como colaborador
              </button>
              <button class="" onclick="logar(2)">
                Entrar como governança
              </button>
            </div>

          <form method="post" action="/fazer-login" id="formLogin">
              <input type="hidden" id="email_user"  name="email_user" value="">
              <input type="hidden" id="password"    name="password"   value="pan123">
          </form>
      </div>
    </div>
    <script>
      let email = document.getElementById('email_user');
      let senha = document.getElementById('password');

      function logar(x){
        email.value = x === 1 ? 'bruna@email.com' : 'rafael@email.com';
        console.log(`(${email.value})(${senha.value})`)
        submitLogin()
      } 

      // Função para enviar formulário
      function submitLogin() {
        document.getElementById('formLogin').submit();  
      }
    </script>
</body>
</html>